*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --sidebar-clr: blue;
}
.wrapper {
  background-color: lightblue;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(120px, 1fr) 5fr;
  grid-template-rows: 1fr 4fr;
}

/* sidebar left */
.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  background-color: hsl(240, 100%, 70%);
}

.sidebar-content {
  margin-bottom: 2rem;
  background-color: antiquewhite;
}

ul {
  list-style: none;
}

li > a {
  text-decoration: none;
  /* color: red; */
}

/* --- */
.wrapper > *:not(.sidebar) {
  grid-column: 2 / -1;
  /* background-color: red; */
}

/* header */
.header {
  padding: 0.5em 2em;
  background-color: white;
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  display: grid;
}

input {
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  width: clamp(2rem, 500px, 100%);
  height: 1.8rem;
  padding-inline: 0.9rem;
}

.header-top,
.header-btm {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header-top-left {
  display: grid;
  grid-template-columns: 1rem 1fr;
  gap: 1rem;
  align-items: center;
}

.header-btm-left {
  display: grid;
  grid-template-columns: minmax(100px, 15%) 1fr;
  align-items: center;
}

.header-right {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  justify-items: center;
  align-items: center;
}

.profile-img {
  background-color: yellow;
  display: grid;
  align-items: center;
  text-align: center;
}

.profile-img-big {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.profile-img-small {
  font-size: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

button {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 1rem;
  width: min-content;
  height: min-content;
}

/* main */
.main {
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr minmax(180px, 1fr);
  background-color: hsl(0, 0%, 90%);
}

/* main left with project cards */
.main-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: 1rem repeat(auto-fit, minmax(200px, 220px));
  gap: 1rem;
  padding-right: 1rem;
}

.main-left > h3 {
  grid-column: 1 / -1;
  /* background-color: red; */
}

.main-left-card {
  border-left: 10px solid orange;
}

/* main right container for announcements and trends */
.main-right {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem minmax(200px, 1fr) 1rem minmax(200px, 1fr);
  gap: 1rem;
}

.main-left-card,
.sidebar-right-top,
.sidebar-right-btm {
  background-color: white;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 1px 3px hsl(0, 0%, 80%);
}

hr {
  width: 50%;
  margin: 1rem auto;
}
